html, body
  background-color: palette('Grey', '200')
  font-size: $rem_size
  font-family: 'Roboto', sans-serif

body
  box-sizing: border-box
  *
    box-sizing: border-box

textarea, input
  font-family: 'Roboto', sans-serif
  font-size: $rem_size

code, kbd, pre, samp
  font-family: monospace, monospace
  font-size: 1em

a
  text-decoration: none
  color: palette('Green')
