/*
 * Name:        Music DB
 * Description: A music CRUD application
 * Author:      Peter van Meijgaard <petervanmeijgaard@hotmail.com
 *
 * -----------------------------------------------------------------
 *
 * Table of Contents:
 *  1. Config
 *    1.1 Functions
 *    1.2 Variables
 *  2. Vendor
 *    2.1 Reset.css
 *    2.2 Google Material Color
 *    2.3 Material Design Icons
 *    2.4 Animate.css
 *  3. Base
 *    3.1 Fonts
 *    3.2 Overall styling
 *  4. Transitions
 *    4.1 Fade
 *    4.2 Slide Left
 *  5. Helpers
 *    5.1 Alignment
 */

/*
 *  1. Config
 *    1.1 Functions
 *    1.2 Mixins
 *    1.3 Variables
 */
@require 'config/*'

/*
 *  2. Vendor
 *    2.1 Reset.css
 *    2.2 Google Material Color
 *    2.3 Material Design Icons
 *    2.4 Animate.css
 */
@require 'vendor/*'
@require '~google-material-color/dist/palette.styl'
@require '~material-design-icons/iconfont/material-icons.css'
@require '~animate.css'

/*
 *  3. Base
 *    3.1 Fonts
 *    3.2 Overall styling
 */
@require 'base/*'

/*
 *  4. Transitions
 *    4.1 Fade
 *    4.2 Slide Left
 */
@require 'transitions/*'

/*
 *  5. Helpers
 *    5.1 Alignment
 */
@require 'helpers/*'
